.btn-gradient {
  @apply rounded-full border shadow-md px-6 py-4;
  background: linear-gradient(to right, #a3ee17 0%, #08bc32 40%, #08bc32 100%);
  color: #fff;
  display: inline-block;
  position: relative;
  //   padding: 15px 30px;
  transition: 0.3s;
  z-index: 1;
  overflow: hidden;
  text-align: center;

  &:before {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    bottom: -40px;
    content: "";
    height: 65px;
    left: -27px;
    position: absolute;
    width: 65px;
    transition: 0.5s;
    z-index: -1;
  }
  &:after {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    content: "";
    height: 65px;
    position: absolute;
    right: -27px;
    top: -40px;
    width: 65px;
    transition: 0.5s;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      border-radius: 32.5px;
      bottom: 0;
      height: 100%;
      left: 0;
      opacity: 0;
      width: 100%;
    }
    &:after {
      border-radius: 32.5px;
      height: 100%;
      opacity: 0;
      right: 0;
      top: 0;
      width: 100%;
    }
  }
}

.btn-outlined {
  @apply text-primary px-6 py-4 rounded-full capitalize;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, #a3ee17 0%, #08bc32 40%, #08bc32 100%) border-box;
  border: 2px solid transparent;

  &:hover {
    background: linear-gradient(
      to right,
      #a3ee17 0%,
      #08bc32 40%,
      #08bc32 100%
    );
    color: white;
  }
}
