---

---

<div class="flex space-x-2 items-center py-2">
    <div>
      <a
        href="http://www.facebook.com/mrcnepal"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="h-8 w-8" viewBox="0 0 72 72">
          <rect fill="#4460A0" width="72" height="72" rx="8" />
          <path
            d="M60.464 13.417v9.31l-5.526.015c-4.331 0-5.166 2.058-5.166 5.066v6.662H60.09L58.752 44.89h-8.98V72H39.01V44.889H30V34.47h9.01v-7.684C39.01 17.864 44.448 13 52.42 13c3.8 0 7.08.288 8.044.417z"
            fill="#FFF"
          />
        </svg>
      </a>
    </div>

    <div>
      <a
        href="http://www.twitter.com/mrcnepal"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="h-8 w-8" viewBox="0 0 72 72">
          <path
            d="M8 72h56a8 8 0 008-8V8a8 8 0 00-8-8H8a8 8 0 00-8 8v56a8 8 0 008 8z"
            fill="#4DC8F1"
          />
          <path
            d="M55.087 25.715c.621 13.851-9.707 29.294-27.992 29.294A27.874 27.874 0 0112 50.584a19.8 19.8 0 0014.579-4.078 9.856 9.856 0 01-9.198-6.839 9.877 9.877 0 004.446-.167c-4.737-.953-8.005-5.219-7.899-9.781a9.798 9.798 0 004.462 1.23c-4.386-2.93-5.628-8.72-3.048-13.147 4.856 5.959 12.112 9.879 20.297 10.29C34.204 21.933 38.877 16 45.232 16a9.828 9.828 0 017.188 3.109 19.695 19.695 0 006.253-2.39 9.866 9.866 0 01-4.33 5.448A19.668 19.668 0 0060 20.617a19.993 19.993 0 01-4.913 5.098"
            fill="#FFF"
          />
        </svg>
      </a>
    </div>
    <div>
      <a
        href="http://www.youtube.com/user/mrcnepal"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="h-8 w-8" viewBox="0 0 72 72">
          <path
            d="M8 72h56a8 8 0 008-8V8a8 8 0 00-8-8H8a8 8 0 00-8 8v56a8 8 0 008 8z"
            fill="#FF0002"
          />
          <path
            d="M31.044 42.27l-.002-13.582 12.97 6.814-12.968 6.768zM59.52 26.334s-.47-3.33-1.908-4.798c-1.826-1.926-3.872-1.935-4.809-2.047C46.086 19 36.011 19 36.011 19h-.022s-10.075 0-16.792.49c-.939.111-2.983.12-4.81 2.046-1.439 1.467-1.907 4.798-1.907 4.798S12 30.247 12 34.158v3.668c0 3.912.48 7.823.48 7.823s.468 3.331 1.906 4.798c1.828 1.926 4.226 1.866 5.294 2.067C23.52 52.885 36 53 36 53s10.086-.015 16.803-.505c.938-.113 2.983-.122 4.809-2.048 1.438-1.467 1.908-4.798 1.908-4.798s.48-3.91.48-7.823v-3.668c0-3.911-.48-7.824-.48-7.824z"
            fill="#FFF"
          />
        </svg>
      </a>
    </div>
  </div>