---
import { Icon } from 'astro-icon/components';
---


<div class="wrapper section">
    <div class="lg:text-center">
    <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Empowerment Initiated for Self Sustained Livelihood
    </h3>
    <p class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">
        MRC Nepal has a mission to enrich lives supporting biodiversity
        inorder to provide various socio economic, educational and
        environmental services to anybody in need.
    </p>
    </div>

    <div class="section">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-16 lg:gap-x-28 lg:gap-y-16">
            <div class="flex space-x-4 items-center">
                <div class="flex-shrink-0">
                    <div class="flex items-center justify-center ">
                        <Icon name="piggy-bank" class="h-24 w-24 text-primary"/>
                    </div>
                </div>
                <div class="space-y-2">
                    <h5 class="text-lg leading-6 font-medium text-gray-900 uppercase">
                        SUSTAINABLE LIVELIHOOD
                    </h5>
                    <p class=" text-base leading-6 text-gray-700">
                        Empowering communities with entrepreneurship, market access, and microfinance to combat poverty and hunger.
                    </p>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                <div class="flex items-center justify-center ">
                    <Icon name="environment" class="h-20 w-20 text-primary"/>
                </div>
                </div>
                <div class="ml-4">
                <h5 class="text-lg leading-6 font-medium text-gray-900">
                    ENVIRONMENT & BIODIVERSITY
                </h5>
                <p class="mt-2 text-base leading-6 text-gray-700">
                    Protecting nature with species conservation, climate action, and disaster risk management.
                </p>
                </div>
            </div>

            <div class="flex">
                <div class="flex-shrink-0">
                <div class="flex items-center justify-center">
                    <Icon name="education" class="h-20 w-20 text-primary"/>
                </div>
                </div>
                <div class="ml-4">
                <h5 class="text-lg leading-6 font-medium text-gray-900 uppercase">
                    Education
                </h5>
                <p class="mt-2 text-base leading-6 text-gray-700">
                    Enhance access to quality education, foster lifelong learning, and promote knowledge as a tool for empowerment and development.
                    <!-- Unlocking potential through access to quality education and lifelong learning opportunities. -->
                </p>
                </div>
            </div>
            
            <div class="flex">
                <div class="flex-shrink-0">
                <div class="flex items-center justify-center">
                    <Icon name="diversity" class="h-20 w-20 text-primary"/>
                </div>
                </div>
                <div class="ml-4">
                <h5 class="text-lg leading-6 font-medium text-gray-900 uppercase">
                    Human Rights
                </h5>
                <p class="mt-2 text-base leading-6 text-gray-700">
                    Advancing justice, equality, and education to empower communities and foster development.
                </p>
                </div>
            </div>
            

            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="flex items-center justify-center">
                        <Icon name="health" class="h-20 w-20 text-primary"/>
                    </div>
                </div>
                <div class="ml-4">
                <h5 class="text-lg leading-6 font-medium text-gray-900 uppercase">
                    HEALTH & SANITATION
                </h5>
                <p class="mt-2 text-base leading-6 text-gray-700">
                    Promoting healthier lives through nutrition, WASH initiatives, and mobile health clinics.
                </p>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                <div class="flex items-center justify-center ">
                    <Icon name="energy" class="h-20 w-20 text-primary"/>
                </div>
                </div>
                <div class="ml-4">
                <h5 class="text-lg leading-6 font-medium text-gray-900 uppercase">
                    RENEWABLE ENERGY & CLEAN COOKING SOLUTION
                </h5>
                <p class="mt-2 text-base leading-6 text-gray-700">
                    Transforming rural lives with renewable energy and eco-friendly cooking solutions for better health.
                </p>
                </div>
            </div>
        </div>
    
    </div>
</div>
  