---
import StoryCard from '@components/story/StoryCard.astro';
import { getCollection } from 'astro:content';
import SectionTitle from '@components/ui/SectionTitle.astro';

const stories = (await getCollection('stories')).sort((a,b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()).slice(0,3);

// console.log(stories)

---

<div class="wrapper section">
    <SectionTitle subtitle="Success Stories" class="mb-12">
        Stories of <span class="text-secondary">Change</span> From Those We Serve
    </SectionTitle>
    
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
       {
        stories.map((story) => (
          <StoryCard story={story} />
        ))
       }
    </div>
    
    <div class="mt-12 flex justify-center">
        <a href="/success-stories" class="btn-outlined">View All Stories &rarr;</a>
    </div>
</div>